/* Add to your CSS file (e.g., App.css) */
@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .fade-in {
    animation: fadeIn 2s ease-in-out;
  }
  .brow{
    font-size: 60px;
  }
  